@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  height: 100svh;
  width: 100vw;

  background: rgb(244, 223, 176);
  background: linear-gradient(
    145deg,
    rgba(3, 3, 3, 0.8) 15%,
    rgba(6, 6, 6, 0.8) 100%
  );

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

#main {
  width: 40rem;
  height: 40rem;
  position: relative;
  background-color: #222;
}

#board {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 33.3% 33.4% 33.3%;
  grid-template-rows: 33.3% 33.4% 33.3%;

  place-items: center;
}

.square {
  font-family: "Arimo", sans-serif;
  height: 95%;
  width: 95%;
  background-color: white;
  cursor: pointer;
  font-size: 6rem;
  display: grid;
  place-items: center;

  border-radius: 1rem;
  font-weight: bold;

  background: rgb(244, 223, 176);
  background: linear-gradient(
    145deg,
    rgba(233, 233, 233, 0.8) 15%,
    rgba(245, 245, 245, 0.8) 100%
  );
}

.disabled {
  pointer-events: none;
}

#result {
  font-family: "Arimo", sans-serif;

  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  width: 0%;
  height: 0%;
  background: rgb(244, 223, 176);
  background: linear-gradient(
    90deg,
    rgba(55, 55, 55, 0.8) 15%,
    rgba(30, 30, 30, 0.8) 100%
  );

  display: grid;
  place-items: center;
  font-size: 5rem;

  transition: all 0.8s;

  color: white;
  overflow: hidden;
  font-weight: bold;
}

.results-showing {
  height: 100% !important;
  width: 100% !important;
}

#result p {
  position: absolute;
  left: 50%;
  top: 37%;
  text-wrap: nowrap;

  transform: translate(-50%, -50%);
}

#restart {
  cursor: pointer;

  padding: 1rem 2rem;
  border: none;

  background-color: #222;
  color: white;
}

#restart:hover {
  border: 2px solid white;
  margin: -2px;
}

#restart:active {
  background-color: black;
}
